@page "/datameridlavnitrni"
@layout MainLayout


@using DBConnect.Models
@inject WeatherDB dataDB
@inject TooltipService tooltipService

@inject IJSRuntime JS
@using BlazorWeatherSchoolAPP.Source;


<RadzenContentContainer Name="main">
    <RadzenCard Style="width: 100%; ">
        <ChildContent>
            @if (last_data != null)
            {
                <RadzenRow Gap="2rem">
                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeLG="3" SizeXL="3">
                        <div>
                            <RadzenCard Style="width: 250px; margin: 0 auto;  ">
                                <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.H5">Teplota AirLink <br /> &nbsp</RadzenText>
                                <RadzenArcGauge Style="width: 100%; height: 140px; margin-top: -20px;">
                                    <RadzenArcGaugeScale Step="20" Min="-20" Max="40" MinorStep="2" Radius="1.5" TickPosition=0 Y="0.9" Margin="0">
                                        <RadzenArcGaugeScaleValue Value=last_data.Quantities326.temp ShowValue=true>
                                            <Template Context="pointer">
                                                <h6>
                                                    @pointer.Value °C
                                                </h6>
                                            </Template>
                                        </RadzenArcGaugeScaleValue>
                                    </RadzenArcGaugeScale>
                                </RadzenArcGauge>
                                <p>
                                    Min: <b>@last_data_awg.Quantities326.temp_min</b> °C v
                                    @last_data_awg.Quantities326.temp_ts_min.ToLocalTime().ToShortTimeString()
                                    <br />
                                    Max: <b>@last_data_awg.Quantities326.temp_max</b> °C v
                                    @last_data_awg.Quantities326.temp_ts_max.ToLocalTime().ToShortTimeString()
                                </p>
                            </RadzenCard>
                        </div>
                    </RadzenColumn>

                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeLG="3" SizeXL="3">
                        <div>
                            <RadzenCard Style="width: 250px; margin: 0 auto;  ">
                                <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.H5">Teplota WLL <br />&nbsp</RadzenText>
                                <RadzenArcGauge Style="width: 100%; height: 140px; margin-top: -20px;">
                                    <RadzenArcGaugeScale Step="20" Min="-20" Max="40" MinorStep="2" Radius="1.5" TickPosition=0 Y="0.9" Margin="0">
                                        <RadzenArcGaugeScaleValue Value=last_data.Quantities243.temp_in ShowValue=true>
                                            <Template Context="pointer">
                                                <h6>
                                                    @pointer.Value °C
                                                </h6>
                                            </Template>
                                        </RadzenArcGaugeScaleValue>
                                    </RadzenArcGaugeScale>
                                </RadzenArcGauge>
                                <p>
                                    Min: <b>@last_data_awg.Quantities243.temp_in_min</b> °C v
                                    @last_data_awg.Quantities243.temp_ts_min.ToLocalTime().ToShortTimeString()
                                    <br />
                                    Max: <b>@last_data_awg.Quantities243.temp_in_max</b> °C v
                                    @last_data_awg.Quantities243.temp_ts_max.ToLocalTime().ToShortTimeString()
                                </p>
                            </RadzenCard>
                        </div>
                    </RadzenColumn>
                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeLG="3" SizeXL="3">
                        <div>
                            <RadzenCard Style="width: 250px; margin: 0 auto;  ">
                                <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.H5">Heat Index <br /> AirLink</RadzenText>
                                <RadzenArcGauge Style="width: 100%; height: 140px; margin-top: -20px;">
                                    <RadzenArcGaugeScale Step="20" Min="-20" Max="40" MinorStep="2" Radius="1.5" TickPosition=0 Y="0.9" Margin="0">
                                        <RadzenArcGaugeScaleValue Value=last_data.Quantities326.heat_index ShowValue=true>
                                            <Template Context="pointer">
                                                <h6>
                                                    @pointer.Value °C
                                                </h6>
                                            </Template>
                                        </RadzenArcGaugeScaleValue>
                                    </RadzenArcGaugeScale>
                                </RadzenArcGauge>
                                <p>
                                    Min: <b>@last_data_awg.Quantities326.heat_index_min</b> °C v
                                    @last_data_awg.Quantities326.heatindex_ts_min.ToLocalTime().ToShortTimeString()
                                    <br />
                                    Max: <b>@last_data_awg.Quantities326.heat_index_max</b> °C v
                                    @last_data_awg.Quantities326.heatindex_ts_max.ToLocalTime().ToShortTimeString()
                                </p>
                            </RadzenCard>
                        </div>
                    </RadzenColumn>
                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeLG="3" SizeXL="3">
                        <div>
                            <RadzenCard Style="width: 250px; margin: 0 auto;  ">
                                <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.H5">Heat Index <br /> WLL</RadzenText>
                                <RadzenArcGauge Style="width: 100%; height: 140px; margin-top: -20px;">
                                    <RadzenArcGaugeScale Step="20" Min="-20" Max="40" MinorStep="2" Radius="1.5" TickPosition=0 Y="0.9" Margin="0">
                                        <RadzenArcGaugeScaleValue Value=last_data.Quantities243.heat_index_in ShowValue=true>
                                            <Template Context="pointer">
                                                <h6>
                                                    @pointer.Value °C
                                                </h6>
                                            </Template>
                                        </RadzenArcGaugeScaleValue>
                                    </RadzenArcGaugeScale>
                                </RadzenArcGauge>
                                <p>
                                    Min: <b>@last_data_awg.Quantities243.heat_index_in_min</b> °C v
                                    @last_data_awg.Quantities243.heatindex_in_ts_min.ToLocalTime().ToShortTimeString()
                                    <br />
                                    Max: <b>@last_data_awg.Quantities243.heat_index_in_max</b> °C v
                                    @last_data_awg.Quantities243.heatindex_in_ts_max.ToLocalTime().ToShortTimeString()
                                </p>
                            </RadzenCard>
                        </div>
                    </RadzenColumn>

                </RadzenRow>
                <br />
                <RadzenRow Gap="2rem">
                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeLG="3" SizeXL="3">
                        <div>
                            <RadzenCard Style="width: 250px; margin: 0 auto; ">
                                <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.H5">Relativní vlhkost AirLink</RadzenText>
                                <RadzenArcGauge Style="width: 100%; height: 140px; margin-top: -20px;">
                                    <RadzenArcGaugeScale Step="20" Min="0" Max="100" MinorStep="2" Radius="1.5" TickPosition=0 Y="0.9" Margin="0">
                                        <RadzenArcGaugeScaleValue Value=last_data.Quantities326.hum ShowValue=true>
                                            <Template Context="pointer">
                                                <h6>
                                                    @pointer.Value %
                                                </h6>
                                            </Template>
                                        </RadzenArcGaugeScaleValue>
                                    </RadzenArcGaugeScale>
                                </RadzenArcGauge>
                                <p>
                                    Min: <b>@last_data_awg.Quantities326.hum_min</b> % v
                                    @last_data_awg.Quantities326.hum_ts_min.ToLocalTime().ToShortTimeString()
                                    <br />
                                    Max: <b>@last_data_awg.Quantities326.hum_max</b> % v
                                    @last_data_awg.Quantities326.hum_ts_max.ToLocalTime().ToShortTimeString()
                                </p>
                            </RadzenCard>
                        </div>
                    </RadzenColumn>
                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeLG="3" SizeXL="3">
                        <div>
                            <RadzenCard Style="width: 250px; margin: 0 auto; ">
                                <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.H5">Relativní vlhkost WLL</RadzenText>
                                <RadzenArcGauge Style="width: 100%; height: 140px; margin-top: -20px;">
                                    <RadzenArcGaugeScale Step="20" Min="0" Max="100" MinorStep="2" Radius="1.5" TickPosition=0 Y="0.9" Margin="0">
                                        <RadzenArcGaugeScaleValue Value=last_data.Quantities243.hum_in ShowValue=true>
                                            <Template Context="pointer">
                                                <h6>
                                                    @pointer.Value %
                                                </h6>
                                            </Template>
                                        </RadzenArcGaugeScaleValue>
                                    </RadzenArcGaugeScale>
                                </RadzenArcGauge>
                                <p>
                                    Min: <b>@last_data_awg.Quantities243.hum_in_min</b> % v
                                    @last_data_awg.Quantities243.hum_ts_min.ToLocalTime().ToShortTimeString()
                                    <br />
                                    Max: <b>@last_data_awg.Quantities243.hum_in_max</b> % v
                                    @last_data_awg.Quantities243.hum_ts_max.ToLocalTime().ToShortTimeString()
                                </p>
                            </RadzenCard>
                        </div>
                    </RadzenColumn>
                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="3" SizeLG="3" SizeXL="3">
                        <div>
                            <RadzenCard Style="width: 250px; margin: 0 auto;">
                                <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.H5">Rosný bod <br /> AirLink</RadzenText>
                                <RadzenArcGauge Style="width: 100%; height: 140px; margin-top: -20px;">
                                    <RadzenArcGaugeScale Step="20" Min="-20" Max="40" MinorStep="2" Radius="1.5" TickPosition=0 Y="0.9" Margin="0">
                                        <RadzenArcGaugeScaleValue Value=last_data.Quantities326.dew_point ShowValue=true>
                                            <Template Context="pointer">
                                                <h6>
                                                    @pointer.Value °C
                                                </h6>
                                            </Template>
                                        </RadzenArcGaugeScaleValue>
                                    </RadzenArcGaugeScale>
                                </RadzenArcGauge>
                                <p>
                                    Min: <b>@last_data_awg.Quantities326.dew_point_min</b> °C v
                                    @last_data_awg.Quantities326.dewpoint_ts_min.ToLocalTime().ToShortTimeString()
                                    <br />
                                    Max: <b>@last_data_awg.Quantities326.dew_point_max</b> °C v
                                    @last_data_awg.Quantities326.dewpoint_ts_max.ToLocalTime().ToShortTimeString()
                                </p>
                            </RadzenCard>
                        </div>
                    </RadzenColumn>
                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeLG="3" SizeXL="3">
                        <div>
                            <RadzenCard Style="width: 250px; margin: 0 auto; ">
                                <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.H5">Rosný bod <br /> WLL</RadzenText>
                                <RadzenArcGauge Style="width: 100%; height: 140px; margin-top: -20px;">
                                    <RadzenArcGaugeScale Step="20" Min="-20" Max="40" MinorStep="2" Radius="1.5" TickPosition=0 Y="0.9" Margin="0">
                                        <RadzenArcGaugeScaleValue Value=last_data.Quantities243.dew_point_in ShowValue=true>
                                            <Template Context="pointer">
                                                <h6>
                                                    @pointer.Value °C
                                                </h6>
                                            </Template>
                                        </RadzenArcGaugeScaleValue>
                                    </RadzenArcGaugeScale>
                                </RadzenArcGauge>
                                <p>
                                    Min: <b>@last_data_awg.Quantities243.dew_point_in_min</b> °C v
                                    @last_data_awg.Quantities243.dewpoint_in_ts_min.ToLocalTime().ToShortTimeString()
                                    <br />
                                    Max: <b>@last_data_awg.Quantities243.dew_point_in_max</b> °C v
                                    @last_data_awg.Quantities243.dewpoint_in_ts_max.ToLocalTime().ToShortTimeString()
                                </p>
                            </RadzenCard>
                        </div>
                    </RadzenColumn>

                </RadzenRow>
                <br />
                <RadzenRow Gap="2rem">
                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeLG="3" SizeXL="3">
                        <div>
                            <RadzenCard Style="width: 250px; margin: 0 auto; ">
                                <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.H5">Tlak vzduchu <br /> WLL</RadzenText>
                                <RadzenArcGauge Style="width: 100%; height: 140px; margin-top: -20px;">
                                    <RadzenArcGaugeScale Step="20" Min="950" Max="1050" MinorStep="2" Radius="1.5" TickPosition=0 Y="0.9" Margin="0">
                                        <RadzenArcGaugeScaleValue Value=last_data.Quantities242.bar_sea_level ShowValue=true>
                                            <Template Context="pointer">
                                                <h6>
                                                    @pointer.Value hPa
                                                </h6>
                                            </Template>
                                        </RadzenArcGaugeScaleValue>
                                    </RadzenArcGaugeScale>
                                </RadzenArcGauge>
                                <p>
                                    Min: <b>@last_data_awg.Quantities242.bar_sea_level_min</b> hPa v
                                    @last_data_awg.Quantities242.barsea_ts_min.ToLocalTime().ToShortTimeString()
                                    <br />
                                    Max: <b>@last_data_awg.Quantities242.bar_sea_level_max</b> hPa v
                                    @last_data_awg.Quantities242.barsea_ts_max.ToLocalTime().ToShortTimeString()
                                </p>
                            </RadzenCard>
                        </div>
                    </RadzenColumn>

                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeLG="3" SizeXL="3">
                        <div>
                            <RadzenCard class="@translatedText_desc[1]" Style="width: 250px; margin: 0 auto; ">
                                <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.H5">Index kvality ovzduší AQI AirLink</RadzenText>
                                <RadzenArcGauge Style="width: 100%; height: 140px; margin-top: -20px;">
                                    <RadzenArcGaugeScale Step="20" Min="0" Max="100" MinorStep="2" Radius="1.5" TickPosition=0 Y="0.9" Margin="0">
                                        <RadzenArcGaugeScaleValue Value=last_data.Quantities326.aqi_val ShowValue=true>
                                            <Template Context="pointer">
                                                <h6>
                                                    @pointer.Value (@translatedText_desc[0])
                                                </h6>
                                            </Template>
                                        </RadzenArcGaugeScaleValue>
                                    </RadzenArcGaugeScale>
                                </RadzenArcGauge>
                                <p>
                                    Min: <b>@last_data_awg.Quantities326.aqi_val_min</b> (@translatedText_desc_min[0]) v
                                    @last_data_awg.Quantities326.aqival_ts_min.ToLocalTime().ToShortTimeString()
                                    <br />
                                    Max: <b>@last_data_awg.Quantities326.aqi_val_max</b> (@translatedText_desc_max[0]) v
                                    @last_data_awg.Quantities326.aqival_ts_max.ToLocalTime().ToShortTimeString()
                                </p>
                            </RadzenCard>
                        </div>
                    </RadzenColumn>
                </RadzenRow>
                <br />
            }
            <RadzenRow>
                <RadzenColumn Style="width: 100%; overflow-x:auto">
                    <RadzenCard>
                        <figure class="highcharts-figure">
                            <div id="graf1"></div>
                        </figure>
                        <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.Overline">*PM1 - prachové částice o velikosti do 1 mikrometru </RadzenText>
                        <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.Overline">*PM2.5 - prachové částice o velikosti do 2.5 mikrometrů </RadzenText>
                        <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.Overline">*PM10 - prachové částice o velikosti do 10 mikrometrů</RadzenText>
                        <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.Overline">
                            *WLL je zkratka pro WeatherLink Live, což je hlavní
                            komunikační modul pro bezdrátový sběr dat ze senzorů meteostanice a připojených modulů, WLL
                            obstahuje vlastní sadu senzorů pro sledování pohody prostředí; aktuálně je umístěn v
                            místnosti ZB2-364
                        </RadzenText>
                        <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.Overline">
                            *AirLink je označení pro
                            modul sledování prachových částic ve vzduchu, tento modul je vybaven samostatnou sadou
                            senzorů pro měření pohody prostředí; aktuálně je umístěn v místnosti ZB2-364
                        </RadzenText>
                        <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.Overline">
                            *Tlak vzduchu - Je přepočtený na hladinu moře.
                        </RadzenText>
                    </RadzenCard>
                </RadzenColumn>
            </RadzenRow>
        </ChildContent>
        </RadzenCard>
</RadzenContentContainer>



@code {

    public Quantities last_data;
    public Quantities last_data_awg;
    public String[] translatedText_desc;
    public String[] translatedText_desc_min;
    public String[] translatedText_desc_max;


    // Spouští JS funkci, která renderuje graf
    public async Task RenderCharts(Quantities quantities, Quantities quantitiesawg)
    {
        var chart = GraphCharts.SecondGraph(quantities, quantitiesawg);
        await JS.InvokeAsync<string>("RenderChartsNew", chart, "graf1");

    }

    Timer timer;
    DateTime currentTime;

    // Načítání dat
    protected override async Task OnInitializedAsync()
    {
        //První načtení
        await LoadData();

        // Načtení dat při prvním spuštění
        timer = new System.Threading.Timer((_) =>
        {
            currentTime = DateTime.Now.ToLocalTime();
            if (currentTime.Minute == 0 || currentTime.Minute % 5 == 0 && currentTime.Second > 21)
            {
                InvokeAsync(async () =>
                {
                    await LoadData();
                });
            }

        }, null, 0, 30000);
    }

    public async Task LoadData()
    {
        // Poslední záznam
        last_data = await dataDB.GetLastSensorData();

        // Poslední záznam
        last_data_awg = await dataDB.GetLastAwgDataTime();

        // překlad
        translatedText_desc = TranslateTextWithNumber(last_data.Quantities326.aqi_val);
        translatedText_desc_min = TranslateTextWithNumber(last_data_awg.Quantities326.aqi_val_min);
        translatedText_desc_max = TranslateTextWithNumber(last_data_awg.Quantities326.aqi_val_max);

        await RenderCharts(last_data, last_data_awg);
        StateHasChanged();
    }

    string[] TranslateTextWithNumber(double inputnumber)
    {
        if (inputnumber <= 10) { return new string[] { "Dobrá", "good" }; }
        else if (inputnumber <= 20) { return new string[] { "Uspokojivá", "fair" }; }
        else if (inputnumber <= 25) { return new string[] { "Vyhovující", "moderate" }; }
        else if (inputnumber <= 50) { return new string[] { "Špatná", "poor" }; }
        else if (inputnumber <= 75) { return new string[] { "Velmi špatná", "very_poor" }; }
        else if (inputnumber <= 800) { return new string[] { "Extrémně špatná", "extremely_poor" }; }
        else { return new string[] { "Dobrá", "good" }; }
    }

}



