@page "/datahistoricka"
@layout MainLayout



@using DBConnect.Models
@inject WeatherDB dataDB

<RadzenContentContainer Name="main">
    <RadzenCard Style="width: 100%; ">
        <ChildContent>
            <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H4">Tabulky historických záznamů</RadzenText>
            <p>
                Tabulky na této stránce zobrazují historické hodnoty měřených veličin. Je možné zvolit den a hodinu v kalendáři a zobrazí se nám data z tohoto dne v danou hodinu.
                Zobrazují se hodnoty nejbližší vyšší podle zadaného času. Data starší než 13.4.2023 byla do databáze importována zpětně a obsahují záznami v delších časových okamžicích,
                zároveň neobsahují úplně všechna data jako jsou aktuálně sbíraná.
                Nejstarší data jsou z 15.11.2022 s vyjímkou dat o vlastnostech půdy, zde jsou nejstarší data z 1.12.2022. Další vyjímkou jsou data o srážkách, zde jsou záznami až z 13.4.2023. 
            </p>
            <br />
            <RadzenRow>
                <RadzenColumn>
                    <RadzenDatePicker Min="MinMaxDate.Min" Max="MinMaxDate.Max" @bind-Value=@Start ShowTime="true" ShowSeconds="true" HoursStep="1.5" MinutesStep="5" DateFormat="dd/MM/yyyy HH:mm" />
                </RadzenColumn>
                <RadzenColumn>
                    @if (last_data != null) { 
                    <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H6">Reálný čás měření: @last_data.SensorFirstTime.ToLocalTime()</RadzenText>
                        }
                </RadzenColumn>
            </RadzenRow>
            <br />
            <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H5">Vnitřní veličiny:</RadzenText>
            @if (last_data != null)
            {
                <table class="table table-my-value">
                    <tr>
                        <td colspan="4" class="table-secondary bold-font">Teplota a vlhkost</td>
                    </tr>
                    <tbody class="table-group-divider ">
                        <tr>
                            <td>Teplota vnitřní WeaherLinkLive</td>
                            <td>@last_data.Quantities243.temp_in °C</td>
                            <td>Vlhkost vnitřní WeatherLinkLive</td>
                            <td>@last_data.Quantities243.hum_in %</td>
                        </tr>
                        <tr>
                            <td>Rosný bod WeaherLinkLive</td>
                            <td>@last_data.Quantities243.dew_point_in °C</td>
                            <td>Heat index WeaherLinkLive</td>
                            <td>@last_data.Quantities243.heat_index_in °C</td>
                        </tr>
                        <tr>
                            <td>Teplota vnitřní AirLink</td>
                            <td>@last_data.Quantities326.temp °C</td>
                            <td>Vlhkost vnitřní AirLink</td>
                            <td>@last_data.Quantities326.hum %</td>
                        </tr>
                        <tr>
                            <td>Rosný bod AirLink</td>
                            <td>@last_data.Quantities326.dew_point °C</td>
                            <td>Heat index Airlink</td>
                            <td>@last_data.Quantities326.heat_index °C</td>
                        </tr>
                    </tbody>
                    <tr>
                        <td colspan="4" class="table-secondary bold-font">Tlak</td>
                    </tr>
                    <tbody class="table-group-divider">
                        <tr>
                            <td>Tlak na hladině moře</td>
                            <td>@last_data.Quantities242.bar_sea_level hPa</td>
                        </tr>
                    </tbody>
                    <tr>
                        <td colspan="4" class="table-secondary bold-font">Kvalita ovzduší</td>
                    </tr>
                    <tbody class="table-group-divider">
                        <tr>
                            <td>PM1 AirLink</td>
                            <td>@last_data.Quantities326.pm_1 μg/m&sup3</td>
                            <td>PM2,5 AirLink</td>
                            <td>@last_data.Quantities326.pm_2p5 μg/m&sup3</td>
                        </tr>
                        <tr>
                            <td>PM10 AirLink</td>
                            <td>@last_data.Quantities326.pm_10 μg/m&sup3</td>
                            <td class="@color_description">Index kvality ovzduší AQI AirLink</td>
                            <td class="@color_description">@last_data.Quantities326.aqi_val (@translatedText_desc)</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H5">Venkovní veličiny:</RadzenText>
                <table class="table table-my-value">
                    <tr>
                        <td colspan="4" class="table-secondary bold-font">Teplota a vlhkost</td>
                    </tr>
                    <tbody class="table-group-divider ">
                        <tr>
                            <td>Teplota</td>
                            <td>@last_data.Quantities46.temp °C</td>
                            <td>Vlhkost</td>
                            <td>@last_data.Quantities46.hum %</td>
                        </tr>
                        <tr>
                            <td>Rosný bod</td>
                            <td>@last_data.Quantities46.dew_point °C</td>
                            <td>Heat index</td>
                            <td>@last_data.Quantities46.heat_index °C</td>
                        </tr>
                        <tr>
                            <td>Chlad větru</td>
                            <td>@last_data.Quantities46.wind_chill °C</td>
                        </tr>
                    </tbody>
                    <tr>
                        <td colspan="4" class="table-secondary bold-font">Sluneční záření a UV index</td>
                    </tr>
                    <tbody class="table-group-divider">
                        <tr>
                            <td>Intenzita slunečního záření</td>
                            <td>@last_data.Quantities46.solar_rad W/m&sup2</td>
                            <td>UV index</td>
                            <td>@last_data.Quantities46.uv_index</td>
                        </tr>
                    </tbody>
                    @if (last_data.Quantities46.rainfall_year_mm != 0) { 
                    <tr>
                        <td colspan="4" class="table-secondary bold-font">Srážky</td>
                    </tr>
                    <tbody class="table-group-divider">
                        <tr>
                            <td>Intenzita dešťových srážek</td>
                            <td>@last_data.Quantities46.rain_rate_last_mm mm/hod</td>
                            <td>Hodinnové dešťové srážky</td>
                            <td>@last_data.Quantities46.rainfall_last_60_min_mm mm</td>
                        </tr>
                        <tr>
                            <td>Denní dešťové srážky</td>
                            <td>@last_data.Quantities46.rainfall_daily_mm mm</td>
                            <td>Měsíční dešťové srážky</td>
                            <td>@last_data.Quantities46.rainfall_monthly_mm mm</td>
                        </tr>
                        <tr>
                            <td>Roční dešťové srážky</td>
                            <td>@last_data.Quantities46.rainfall_year_mm mm</td>
                        </tr>
                    </tbody>
                        }
                    <tr>
                        <td colspan="4" class="table-secondary bold-font">Vítr</td>
                    </tr>
                    <tbody class="table-group-divider">
                        <tr>
                            <td>Aktuální rychlost větru</td>
                            <td>@last_data.Quantities46.wind_speed_last km/h</td>
                            <td>Průměrná rychlost větru 10 min</td>
                            <td>@last_data.Quantities46.wind_speed_avg_last_10_min km/h</td>
                        </tr>
                        <tr>
                            <td>Aktuální směr větru</td>
                            <td>@last_data.Quantities46.wind_dir_last °</td>
                        </tr>
                    </tbody>
                    @if (last_data.Quantities56 != null) {
                    <tr>
                        <td colspan="4" class="table-secondary bold-font">Půda</td>
                    </tr>
                    <tbody class="table-group-divider">
                        <tr>
                            <td>Teplota půdy</td>
                            <td>@last_data.Quantities56.temp_1 °C</td>
                            <td>Vlhkost půdy</td>
                            <td>@last_data.Quantities56.moist_soil_1 %</td>
                        </tr>
                    </tbody>
                        }
                </table>

                }
        </ChildContent>
    </RadzenCard>
</RadzenContentContainer>

@code {
    public Quantities last_data;

    public String translatedText_desc;

    public (DateTime? Min, DateTime? Max) MinMaxDate;

    // Rozsahy pro výběr dat
    private DateTime? start;
    DateTime end = DateTime.Now;
    public DateTime? Start { get { return start; } set { start = value; LoadData(); } }


    // Načítání dat
    protected override async Task OnInitializedAsync()
    {
        // Načtení dat při prvním spuštění
        await LoadData();
        var timer = new System.Threading.Timer((_) =>
        {

            InvokeAsync(async () =>
            {
                await LoadData();
            });
        }, null, 0, 60000);
    }

    public async Task LoadData()
    {

        // Minimální a maximílní datum pro volení rozsahu
        MinMaxDate = await dataDB.GetMinMaxDate();


        if (start == null) { start = DateTime.Now.AddMinutes(-10); }

        DateTime start1 = start.Value;

        // Poslední záznam
        last_data = await dataDB.GetDataTableHistory(start1,end);
        if (last_data == null) { start = new DateTime(2023, 4, 1, 12, 10, 0);
            start1 = start.Value;
            last_data = await dataDB.GetDataTableHistory(start1, end);
        }

        // překlad
        translatedText_desc = TranslateText(last_data.Quantities326.aqi_desc);

        //test = await dataDB.GetToDaySensorDataMax("Quantities46.temp");
        //test2 = await dataDB.GetToDaySensorDataMin("Quantities46.temp") ;

        StateHasChanged();
    }
    private MudDatePicker _picker;
    private bool _autoClose;



    public String color_description;

    // Překlad description
    string TranslateText(string inputText)
    {
        switch (inputText)
        {
            case "Good":
                color_description = "green_one";
                return "Dobrý";
            case "Fair":
                color_description = "green_two";
                return "Spravedlivý";
            case "Moderate":
                color_description = "yellow";
                return "Mírný";
            case "Poor":
                color_description = "orange";
                return "Špatný";
            case "Very poor":
                color_description = "brown";
                return "Velmi špatný";
            default:
                color_description = "green_one";
                return "Dobré";
        }
    }
}



