@page "/datavolnyvybermr"
@layout MainLayout

@using DBConnect.Models
@inject WeatherDB dataDB

<RadzenContentContainer Name="main">
    <RadzenCard Style="width: 100%; ">
        <ChildContent>
            <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H4">Tabulka měsíčního výpisu</RadzenText>
            <p>
                Tabulka zobratuje základní meteorologické veličny v rámci jednoho vybraného měsíce. Zobrazuje maxima, minima a průměry.
            </p>
            <br />
            <RadzenRow >
                <RadzenColumn>
                    <MudDatePicker tabindex="1234" Editable="true" class="bordered-datepicker"  @bind-Date="@Start" OpenTo="OpenTo.Month" MinDate="MinMaxDate.Min" MaxDate="MinMaxDate.Max" FixDay="1" DateFormat="MM/yyyy" />
                </RadzenColumn>
                <RadzenColumn>
                    @if (last_data_awg != null)
                    {
                        <RadzenText style="vertical-align: bottom;" TextAlign="TextAlign.Left" TextStyle="TextStyle.H6">Měsíc a rok měření: @last_data_awg[0].SensorFirstTime.Date.ToString("MM/yyyy")</RadzenText>
                    }
                </RadzenColumn>
            </RadzenRow>
        </ChildContent>
    </RadzenCard>
    <br />
    <RadzenCard Style="width: 100%; ">
        <ChildContent>
            @*Teplota, tlak, vlhkost, rychlost větru, smět větru, denní srážky*@
            <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H5">Venkovní senzory:</RadzenText>
            @if (last_data_awg != null)
            {
                <RadzenDataGrid style="--rz-grid-header-background-color: #d5d8db; height: 300px" class="table-my-volny" AllowPaging="true" AllowSorting="true"
                                ColumnWidth="120px" Data="@last_data_awg" TItem="Quantities" AllowAlternatingRows="true">
                    <Columns>
                        <RadzenDataGridColumn Width="80px" TItem="Quantities" Property="SensorFirstTime" Title="Datum" Frozen="true">
                            <Template Context="data">
                                <span title="@data.SensorFirstTime.ToString("dd/MM/yy")">@data.SensorFirstTime.ToString("dd/MM")</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.temp" Title="Teplota prům.">
                            <Template Context="data">
                                <span title="@data.Quantities46.temp °C">@data.Quantities46.temp °C</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.temp_max" Title="Teplota max.">
                            <Template Context="data">
                                <span title="@data.Quantities46.temp_max °C">@data.Quantities46.temp_max °C</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.temp_min" Title="Teplota min.">
                            <Template Context="data">
                                <span title="@data.Quantities46.temp_min °C">@data.Quantities46.temp_min °C</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.hum" Title="Vlhkost prům.">
                            <Template Context="data">
                                <span title="@data.Quantities46.hum %">@data.Quantities46.hum %</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.hum_max" Title="Vlhkost max.">
                            <Template Context="data">
                                <span title="@data.Quantities46.hum_max %">@data.Quantities46.hum_max %</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.hum_min" Title="Vlhkost min.">
                            <Template Context="data">
                                <span title="@data.Quantities46.hum_min %">@data.Quantities46.hum_min %</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.rainfall_last_15_min_mm" Title="Denní úhrn srážek">
                            <Template Context="data">
                                <span title="@data.Quantities46.rainfall_daily_mm mm">@data.Quantities46.rainfall_daily_mm mm</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.wind_speed_avg_last_10_min" Title="Rychlost větru prům.">
                            <Template Context="data">
                                <span title="@data.Quantities46.wind_speed_avg_last_10_min km/h">@data.Quantities46.wind_speed_avg_last_10_min km/h</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.wind_speed_last" Title="Rychlost větru max.">
                            <Template Context="data">
                                <span title="@data.Quantities46.wind_speed_last_max km/h">@data.Quantities46.wind_speed_last_max km/h</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.wind_speed_last" Title="Rychlost větru min.">
                            <Template Context="data">
                                <span title="@data.Quantities46.wind_speed_last_min km/h">@data.Quantities46.wind_speed_last_min km/h</span>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>

            }
        </ChildContent>
    </RadzenCard>
    <br />
    <RadzenCard Style="width: 100%; ">
        <ChildContent>
            @*Teplota, tlak, vlhkost, rychlost větru, smět větru, denní srážky*@
            <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H5">Vnitřní senzory WeatherLink Live:</RadzenText>
            @if (last_data_awg != null)
            {
                <RadzenDataGrid Style="--rz-grid-header-background-color: #d5d8db; height: 300px" AllowPaging="true" AllowSorting="true" class="table-my-volny" Data="@last_data_awg" TItem="Quantities"
                                AllowAlternatingRows="true" ColumnWidth="120px">
                    <Columns>
                        <RadzenDataGridColumn Width="80px" TItem="Quantities" Property="SensorFirstTime" Title="Datum" Frozen="true">
                            <Template Context="data">
                                <span title="@data.SensorFirstTime.ToString("dd/MM/yy")">@data.SensorFirstTime.ToString("dd/MM") </span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities243.temp_in" Title="Teplota prům.">
                            <Template Context="data">
                                <span title="@data.Quantities243.temp_in °C"> @data.Quantities243.temp_in °C</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities243.temp_in_max" Title="Teplota max.">
                            <Template Context="data">
                                <span title="@data.Quantities243.temp_in_max °C">@data.Quantities243.temp_in_max °C</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities243.temp_in_min" Title="Teplota min.">
                            <Template Context="data">
                                <span title="@data.Quantities243.temp_in_min °C">@data.Quantities243.temp_in_min °C</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities243.hum_in" Title="Vlhkost prům.">
                            <Template Context="data">
                                <span title="@data.Quantities243.hum_in %">@data.Quantities243.hum_in %</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities243.hum_in_max" Title="Vlhkost max.">
                            <Template Context="data">
                                <span title="@data.Quantities243.hum_in_max %">@data.Quantities243.hum_in_max %</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities243.hum_in_min" Title="Vlhkost min.">
                            <Template Context="data">
                                <span title="@data.Quantities243.hum_in_min %">@data.Quantities243.hum_in_min %</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities242.bar_sea_level" Title="Tlak prům.">
                            <Template Context="data">
                                <span title="@data.Quantities242.bar_sea_level hPa">@data.Quantities242.bar_sea_level hPa</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities242.bar_sea_level_max" Title="Tlak max.">
                            <Template Context="data">
                                <span title="@data.Quantities242.bar_sea_level_max hPa">@data.Quantities242.bar_sea_level_max hPa</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities242.bar_sea_level_min" Title="Tlak min.">
                            <Template Context="data">
                                <span title="@data.Quantities242.bar_sea_level_min hPa">@data.Quantities242.bar_sea_level_min hPa</span>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>

            }
        </ChildContent>
    </RadzenCard>
    <br />
    <RadzenCard Style="width: 100%; ">
        <ChildContent>
            <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H5">Vnitřní senzory AirLink:</RadzenText>
            @if (last_data_awg != null)
            {
                <RadzenDataGrid style="--rz-grid-header-background-color: #d5d8db; height: 300px" AllowPaging="true" AllowSorting="true" class="table-my-volny" Data="@last_data_awg"
                                ColumnWidth="120px" TItem="Quantities" AllowAlternatingRows="true">
                    <Columns>
                        <RadzenDataGridColumn Width="80px" TItem="Quantities" Property="SensorFirstTime" Title="Datum" Frozen="true">
                            <Template Context="data">
                                <span title="@data.SensorFirstTime.ToString("dd/MM/yy")">
                                    @data.SensorFirstTime.ToString("dd/MM")
                                </span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities326.temp" Title="Teplota prům.">
                            <Template Context="data">
                                <span title="@data.Quantities326.temp °C">
                                    @data.Quantities326.temp °C
                                </span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities326.temp_max" Title="Teplota max.">
                            <Template Context="data">
                                <span title="@data.Quantities326.temp_max °C">
                                    @data.Quantities326.temp_max °C
                                </span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities326.temp_min" Title="Teplota min.">
                            <Template Context="data">
                                <span title="@data.Quantities326.temp_min °C">
                                    @data.Quantities326.temp_min °C
                                </span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities326.hum" Title="Vlhkost prům.">
                            <Template Context="data">
                                <span title="@data.Quantities326.hum %">
                                    @data.Quantities326.hum %
                                </span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities326.hum_max" Title="Vlhkost max.">
                            <Template Context="data">
                                <span title="@data.Quantities326.hum_max %">
                                    @data.Quantities326.hum_max %
                                </span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities326.hum_min" Title="Vlhkost min.">
                            <Template Context="last_data_awg">
                                <span title="@last_data_awg.Quantities326.hum_min %">
                                    @last_data_awg.Quantities326.hum_min %
                                </span>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
                <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.Overline">
                    *WLL je zkratka pro WeatherLink Live, což je hlavní
                    komunikační modul pro bezdrátový sběr dat ze senzorů meteostanice a připojených modulů, WLL
                    obstahuje vlastní sadu senzorů pro sledování pohody prostředí; aktuálně je umístěn v
                    místnosti ZB2-364
                </RadzenText>
                <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.Overline">
                    *AirLink je označení pro
                    modul sledování prachových částic ve vzduchu, tento modul je vybaven samostatnou sadou
                    senzorů pro měření pohody prostředí; aktuálně je umístěn v místnosti ZB2-364
                </RadzenText>


            }
        </ChildContent>
    </RadzenCard>

</RadzenContentContainer>

@code {
    public List<Quantities> last_data_awg;

    public (DateTime? Min, DateTime? Max) MinMaxDate;

    // Rozsahy pro výběr dat
    private DateTime? start;

    public DateTime? Start { get { return start; } set { start = value; LoadData(); } }

    Timer timer;
    DateTime currentTime;

    // Načítání dat
    protected override async Task OnInitializedAsync()
    {
        //První načtení
        await LoadData();

        // Minimální a maximílní datum pro volení rozsahu
        MinMaxDate = await dataDB.GetMinMaxDate();
        // Načtení dat při prvním spuštění
        timer = new System.Threading.Timer((_) =>
        {
            currentTime = DateTime.Now.ToLocalTime();
            if (currentTime.Minute == 0 || currentTime.Minute % 5 == 0 && currentTime.Second > 21)
            {
                InvokeAsync(async () =>
                {
                    await LoadData();
                });
            }

        }, null, 0, 30000);
    }

    public async Task LoadData()
    {

        if (start == null) { start = DateTime.Now.Date.AddDays(1 - DateTime.Now.Day); }

        DateTime start1 = start.Value;
        if (start1 > DateTime.Now.Date.AddDays(1 - DateTime.Now.Day)) { start1 = DateTime.Now.Date.AddDays(1 - DateTime.Now.Day);
            start = DateTime.Now.Date.AddDays(1 - DateTime.Now.Day);  }
        DateTime end1 = start1.AddMonths(1);

        // Poslední záznam
        last_data_awg = await dataDB.GetSensorsDataAwg(start1,end1);

        StateHasChanged();
    }

}






