@page "/datavyberdmr"
@layout MainLayout



@using DBConnect.Models
@inject WeatherDB dataDB


<RadzenContentContainer Name="main">
    <RadzenCard Style="width: 100%; ">
        <ChildContent>
            <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H4">Tabulky rekordů, maxim a minim a průměrů</RadzenText>
            <p>
                Tabulky na této stránce zobrazují maxima, minima a průměrné hodnoty meteorologických veličin na základě zvoleného dne.
            </p>
            <br />
            <RadzenRow>
                <RadzenColumn>

                    <RadzenDatePicker Min="MinMaxDate.Min" Max="MinMaxDate.Max" @bind-Value=@Start DateFormat="dd/MM/yyyy">
                        <FooterTemplate>
                            <RadzenButton Click=@(args => Start = DateTime.Now) Text="Dnes" class="my-3 w-100" />
                        </FooterTemplate>
                    </RadzenDatePicker>

                </RadzenColumn>
                <RadzenColumn>
                    @if (last_data != null)
                    {
                        <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H6">Datum měření: @last_data[0].SensorFirstTime.ToLocalTime().Date.ToString("dd/MM/yyyy")</RadzenText>
                    }
                </RadzenColumn>
            </RadzenRow>
        </ChildContent>
    </RadzenCard>
    <br />
    <RadzenCard Style="width: 100%; ">
        <ChildContent>
            <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H5">Venkovní senzory:</RadzenText>
            @if (last_data != null)
            {
                <RadzenDataGrid style="--rz-grid-header-background-color: #d5d8db; height: 300px" class="table-my-volny"
                                ColumnWidth="120px" AllowPaging="true" AllowSorting="true" Data="@last_data" TItem="Quantities" AllowAlternatingRows="true">
                    <Columns>
                        <RadzenDataGridColumn Width="80px" TItem="Quantities" Property="SensorFirstTime" Title="Čas" Frozen="true">
                            <Template Context="data">
                                <span title="@data.SensorFirstTime.ToLocalTime().ToString("dd/MM HH:mm")">@data.SensorFirstTime.ToLocalTime().ToString("HH:mm")</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.temp" Title="Teplota">
                            <Template Context="data">
                                <span title="@data.Quantities46.temp °C">@data.Quantities46.temp °C</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.hum" Title="Vlhkost">
                            <Template Context="data">
                                <span title="@data.Quantities46.hum %">@data.Quantities46.hum %</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.dew_point" Title="Rosný bod">
                            <Template Context="data">
                                <span title="@data.Quantities46.dew_point °C">@data.Quantities46.dew_point °C</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.heat_index" Title="Heat index">
                            <Template Context="data">
                                <span title="@data.Quantities46.heat_index °C">@data.Quantities46.heat_index °C</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.wind_chill" Title="Chlad větru">
                            <Template Context="data">
                                <span title="@data.Quantities46.wind_chill °C">@data.Quantities46.wind_chill °C</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.solar_rad" Title="Intenzita slunečního záření">
                            <Template Context="data">
                                <span title="@data.Quantities46.solar_rad W/m&sup2">@data.Quantities46.solar_rad W/m&sup2</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.uv_index" Title="UV index">
                            <Template Context="data">
                                <span title="@data.Quantities46.uv_index">@data.Quantities46.uv_index</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.rain_rate_last_mm" Title="Intenzita srážek">
                            <Template Context="data">
                                <span title="@data.Quantities46.rain_rate_last_mm mm/hod">@data.Quantities46.rain_rate_last_mm mm/hod</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.rainfall_last_15_min_mm" Title="Úhrn srážek za 15 min">
                            <Template Context="data">
                                <span title="@data.Quantities46.rainfall_last_15_min_mm mm">@data.Quantities46.rainfall_last_15_min_mm mm</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities46.wind_speed_last" Title="Rychlost větru">
                            <Template Context="data">
                                <span title="@data.Quantities46.wind_speed_last km/h">@data.Quantities46.wind_speed_last km/h</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities56.temp_1" Title="Teplota půdy">
                            <Template Context="data">
                                <span title="@data.Quantities56.temp_1 °C">@data.Quantities56.temp_1 °C</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities56.moist_soil_1" Title="Vlhkost půdy">
                            <Template Context="data">
                                <span title="@data.Quantities56.moist_soil_1 %">@data.Quantities56.moist_soil_1 %</span>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>

            }
        </ChildContent>
    </RadzenCard>
    <br />
    <RadzenCard Style="width: 100%; ">
        <ChildContent>
            <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H5">Vnitřní senzory WeatherLink Live:</RadzenText>
            @if (last_data != null)
            {
                <RadzenDataGrid style="--rz-grid-header-background-color: #d5d8db; height: 300px" AllowPaging="true" AllowSorting="true" class="table-my-volny"
                                ColumnWidth="120px" Data="@last_data" TItem="Quantities" AllowAlternatingRows="true">
                    <Columns>
                        <RadzenDataGridColumn Width="80px" TItem="Quantities" Property="SensorFirstTime" Title="Čas" Frozen="true">
                            <Template Context="data">
                                <span title="@data.SensorFirstTime.ToLocalTime().ToString("dd/MM HH:mm")">@data.SensorFirstTime.ToLocalTime().ToString("HH:mm") </span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities243.temp_in" Title="Teplota">
                            <Template Context="data">
                                <span title="@data.Quantities243.temp_in °C"> @data.Quantities243.temp_in °C</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities243.hum_in" Title="Vlhkost">
                            <Template Context="data">
                                <span title="@data.Quantities243.hum_in %">@data.Quantities243.hum_in %</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities242.bar_sea_level hPa" Title="Tlak">
                            <Template Context="data">
                                <span title="@data.Quantities242.bar_sea_level hPa">@data.Quantities242.bar_sea_level hPa</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities243.dew_point_in" Title="Rosný bod">
                            <Template Context="data">
                                <span title="@data.Quantities243.dew_point_in °C">@data.Quantities243.dew_point_in °C</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities243.heat_index_in" Title="Heat index">
                            <Template Context="data">
                                <span title="@data.Quantities243.heat_index_in °C">@data.Quantities243.heat_index_in °C</span>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>

            }
        </ChildContent>
    </RadzenCard>
    <br />
    <RadzenCard Style="width: 100%; ">
        <ChildContent>
            <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H5">Vnitřní senzory AirLink:</RadzenText>
            @if (last_data != null)
            {
                <RadzenDataGrid style="--rz-grid-header-background-color: #d5d8db; height: 300px" AllowPaging="true" AllowSorting="true"
                                ColumnWidth="120px" class="table-my-volny" Data="@last_data" TItem="Quantities" AllowAlternatingRows="true">
                    <Columns>
                        <RadzenDataGridColumn Width="80px" TItem="Quantities" Property="SensorFirstTime" Title="Čas" Frozen="true">
                            <Template Context="data">
                                <span title="@data.SensorFirstTime.ToLocalTime().ToString("dd/MM HH:mm")">
                                    @data.SensorFirstTime.ToLocalTime().ToString("HH:mm")
                                </span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities326.temp" Title="Teplota">
                            <Template Context="data">
                                <span title="@data.Quantities326.temp °C">
                                    @data.Quantities326.temp °C
                                </span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities326.hum" Title="Vlhkost">
                            <Template Context="data">
                                <span title="@data.Quantities326.hum %">
                                    @data.Quantities326.hum %
                                </span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities326.dew_point" Title="Rosný bod">
                            <Template Context="data">
                                <span title="@data.Quantities326.dew_point °C">
                                    @data.Quantities326.dew_point °C
                                </span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities326.heat_index" Title="Heat index">
                            <Template Context="data">
                                <span title="@data.Quantities326.heat_index °C">
                                    @data.Quantities326.heat_index °C
                                </span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities326.pm_1" Title="PM1">
                            <Template Context="data">
                                <span title="@data.Quantities326.pm_1 μg/m&sup3">
                                    @data.Quantities326.pm_1 μg/m&sup3
                                </span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities326.pm_2p5" Title="PM2.5">
                            <Template Context="last_data_awg">
                                <span title="@last_data_awg.Quantities326.pm_2p5 μg/m&sup3">
                                    @last_data_awg.Quantities326.pm_2p5 μg/m&sup3
                                </span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities326.pm_10" Title="PM10">
                            <Template Context="last_data_awg">
                                <span title="@last_data_awg.Quantities326.pm_10 μg/m&sup3">
                                    @last_data_awg.Quantities326.pm_10 μg/m&sup3
                                </span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Quantities" Property="Quantities326.aqi_val" Title="AQI">
                            <Template Context="last_data_awg">
                                <span class="@TranslateTextWithNumber(last_data_awg.Quantities326.aqi_val)[1]" title="@last_data_awg.Quantities326.aqi_val @TranslateTextWithNumber(last_data_awg.Quantities326.aqi_val)[0]">
                                    @last_data_awg.Quantities326.aqi_val @TranslateTextWithNumber(last_data_awg.Quantities326.aqi_val)[0]
                                </span>
                            </Template>
                        </RadzenDataGridColumn>

                    </Columns>
                </RadzenDataGrid>



            }
        </ChildContent>
    </RadzenCard>

</RadzenContentContainer>

    @code {
        public List<Quantities> last_data;


        public (DateTime? Min, DateTime? Max) MinMaxDate;

        // Rozsahy pro výběr dat
        private DateTime? start;

        public DateTime? Start { get { return start; } set { start = value; LoadData(); } }


        Timer timer;
        DateTime currentTime;

        // Načítání dat
        protected override async Task OnInitializedAsync()
        {
            //První načtení
            await LoadData();

            // Minimální a maximílní datum pro volení rozsahu
            MinMaxDate = await dataDB.GetMinMaxDate();
            // Načtení dat při prvním spuštění
            timer = new System.Threading.Timer((_) =>
            {
                currentTime = DateTime.Now.ToLocalTime();
                if (currentTime.Minute == 0 || currentTime.Minute % 5 == 0 && currentTime.Second > 21)
                {
                    InvokeAsync(async () =>
                    {
                        await LoadData();
                    });
                }

            }, null, 0, 30000);
        }

        public async Task LoadData()
        {

            // Při null nastaví na 
            if (start == null) { start = DateTime.Now.Date; }

            DateTime start1 = start.Value;
            DateTime end1 = start1.AddDays(1);

            // Poslední záznam
            last_data = await dataDB.GetSensorsData(start1,end1);

            if (last_data.Count == 0)
            {
                start = new DateTime(2023, 4, 1, 00, 00, 0).Date;
                start1 = start.Value;
                end1 = start1.AddDays(1);
                last_data = await dataDB.GetSensorsData(start1, end1);
            }

            StateHasChanged();
        }
        private MudDatePicker _picker;
        private bool _autoClose;

        string[] TranslateTextWithNumber(double inputnumber)
        {
            if (inputnumber <= 10) { return new string[] { "Dobrá", "good" }; }
            else if (inputnumber <= 20) { return new string[] { "Uspokojivá", "fair" }; }
            else if (inputnumber <= 25) { return new string[] { "Vyhovující", "moderate" }; }
            else if (inputnumber <= 50) { return new string[] { "Špatná", "poor" }; }
            else if (inputnumber <= 75) { return new string[] { "Velmi špatná", "very_poor" }; }
            else if (inputnumber <= 800) { return new string[] { "Extrémně špatná", "extremely_poor" }; }
            else { return new string[] { "Dobrá", "good" }; }
        }

    }





