@page "/"



@using DBConnect.Models
@inject WeatherDB dataDB
    <RadzenContentContainer Name="main">
        @if (last_data != null)
        {
            <RadzenCard Style="width: 100%; ">
                <ChildContent>
                    <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H5">Venkovní senzory:</RadzenText>
                    <table class="table table-my-value">
                        <tr>
                            <td colspan="4" class="table-secondary bold-font">Teplota a vlhkost</td>
                        </tr>
                        <tbody class="table-group-divider ">
                            <tr>
                                <td>Teplota</td>
                                <td>@last_data.Quantities46.temp °C</td>
                                <td>Relativní vlhkost</td>
                                <td>@last_data.Quantities46.hum %</td>
                            </tr>
                            <tr>
                                <td>Heat Index</td>
                                <td>@last_data.Quantities46.heat_index °C</td>
                                <td>Rosný bod</td>
                                <td>@last_data.Quantities46.dew_point °C</td>

                            </tr>
                            <tr>
                                <td>Wind Chill</td>
                                <td>@last_data.Quantities46.wind_chill °C</td>
                            </tr>
                        </tbody>
                        <tr>
                            <td colspan="4" class="table-secondary bold-font">Sluneční záření a UV index</td>
                        </tr>
                        <tbody class="table-group-divider">
                            <tr>
                                <td>Intenzita slunečního záření</td>
                                <td>@last_data.Quantities46.solar_rad W/m&sup2</td>
                                <td>UV index</td>
                                <td>@last_data.Quantities46.uv_index</td>
                            </tr>
                        </tbody>
                        <tr>
                            <td colspan="4" class="table-secondary bold-font">Srážky</td>
                        </tr>
                        <tbody class="table-group-divider">
                            <tr>
                                <td>Intenzita srážek</td>
                                <td>@last_data.Quantities46.rain_rate_last_mm mm/hod</td>
                                <td>Měsíční úhrn srážek</td>
                                <td>@last_data.Quantities46.rainfall_monthly_mm mm</td>
                            </tr>
                            <tr>
                                <td>Hodinnový úhrn srážek</td>
                                <td>@last_data.Quantities46.rainfall_last_60_min_mm mm</td>
                                <td>Roční úhrn srážek</td>
                                <td>@last_data.Quantities46.rainfall_year_mm mm</td>
                            </tr>
                            <tr>
                                <td>Denní úhrn srážek</td>
                                <td>@last_data.Quantities46.rainfall_daily_mm mm</td>
                            </tr>
                        </tbody>
                        <tr>
                            <td colspan="4" class="table-secondary bold-font">Vítr</td>
                        </tr>
                        <tbody class="table-group-divider">
                            <tr>
                                <td>Aktuální rychlost větru</td>
                                <td>@last_data.Quantities46.wind_speed_last km/h</td>
                                <td>Aktuální směr větru</td>
                                <td>@last_data.Quantities46.wind_dir_last °</td>
                            </tr>
                            <tr>
                                <td>Průměrná rychlost větru za 10 min</td>
                                <td>@last_data.Quantities46.wind_speed_avg_last_10_min km/h</td>
                            </tr>
                        </tbody>
                        <tr>
                            <td colspan="4" class="table-secondary bold-font">Půda</td>
                        </tr>
                        <tbody class="table-group-divider">
                            <tr>
                                <td>Teplota půdy</td>
                                <td>@last_data.Quantities56.temp_1 °C</td>
                                <td>Vlhkost půdy</td>
                                <td>@last_data.Quantities56.moist_soil_1 %</td>
                            </tr>
                        </tbody>
                    </table>


                </ChildContent>
            </RadzenCard>

        }
        <br>
        @if (last_data != null)
        {
            <RadzenCard Style="width: 100%; ">
                <ChildContent>
                    <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H5">Vnitřní senzory:</RadzenText>
                    <table class="table table-my-value">
                        <tr>
                            <td colspan="4" class="table-secondary bold-font">Teplota a vlhkost</td>
                        </tr>
                        <tbody class="table-group-divider ">
                            <tr>
                                <td>Teplota vnitřní WLL</td>
                                <td>@last_data.Quantities243.temp_in °C</td>
                                <td>Teplota vnitřní AirLink</td>
                                <td>@last_data.Quantities326.temp °C</td>
                            </tr>
                            <tr>
                                <td>Heat index WLL</td>
                                <td>@last_data.Quantities243.heat_index_in °C</td>
                                <td>Heat index Airlink</td>
                                <td>@last_data.Quantities326.heat_index °C</td>
                            </tr>
                            <tr>
                                <td>Relativní vlhkost WLL</td>
                                <td>@last_data.Quantities243.hum_in %</td>
                                <td>Relativní vlhkost AirLink</td>
                                <td>@last_data.Quantities326.hum %</td>
                            </tr>
                            <tr>
                                <td>Rosný bod WLL</td>
                                <td>@last_data.Quantities243.dew_point_in °C</td>
                                <td>Rosný bod AirLink</td>
                                <td>@last_data.Quantities326.dew_point °C</td>

                            </tr>
                        </tbody>
                        <tr>
                            <td colspan="4" class="table-secondary bold-font">Tlak</td>
                        </tr>
                        <tbody class="table-group-divider">
                            <tr>
                                <td>Tlak vzduchu (přepočtený na hladinu moře)</td>
                                <td>@last_data.Quantities242.bar_sea_level hPa</td>
                                <td>Tlaková tendence</td>
                                <td>@last_data.Quantities242.bar_trend hPa</td>
                            </tr>
                        </tbody>
                        <tr>
                            <td colspan="4" class="table-secondary bold-font">Kvalita ovzduší</td>
                        </tr>
                        <tbody class="table-group-divider">
                            <tr>
                                <td>PM1 AirLink</td>
                                <td>@last_data.Quantities326.pm_1 μg/m&sup3</td>
                                <td class="@translatedText_desc[1]">Index kvality ovzduší AQI AirLink</td>
                                <td class="@translatedText_desc[1]">@last_data.Quantities326.aqi_val (@translatedText_desc[0])</td>
                            </tr>
                            <tr>
                                <td>PM2,5 AirLink</td>
                                <td>@last_data.Quantities326.pm_2p5 μg/m&sup3</td>
                            </tr>
                            <tr>
                                <td>PM10 AirLink</td>
                                <td>@last_data.Quantities326.pm_10 μg/m&sup3</td>
                            </tr>
                        </tbody>
                    </table>
                    <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.Overline">*PM1 - prachové částice o velikosti do 1 mikrometru </RadzenText>
                    <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.Overline">*PM2.5 - prachové částice o velikosti do 2.5 mikrometrů </RadzenText>
                    <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.Overline">*PM10 - prachové částice o velikosti do 10 mikrometrů</RadzenText>
                    <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.Overline">*WLL je zkratka pro WeatherLink Live, což je hlavní
                    komunikační modul pro bezdrátový sběr dat ze senzorů meteostanice a připojených modulů, WLL
                    obstahuje vlastní sadu senzorů pro sledování pohody prostředí; aktuálně je umístěn v
                    místnosti ZB2-364</RadzenText>
                    <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.Overline">*AirLink je označení pro
                    modul sledování prachových částic ve vzduchu, tento modul je vybaven samostatnou sadou
                    senzorů pro měření pohody prostředí; aktuálně je umístěn v místnosti ZB2-364</RadzenText>
                </ChildContent>
            </RadzenCard>

        }
    </RadzenContentContainer>

    @code {
        public Quantities last_data;
        public Quantities[] table_data;

        public String[] translatedText_desc;



        Timer timer;
        DateTime currentTime;

        // Načítání dat
        protected override async Task OnInitializedAsync()
        {
            //První načtení
            await LoadData();

            // Načtení dat při prvním spuštění
            timer = new System.Threading.Timer((_) =>
            {
                currentTime = DateTime.Now.ToLocalTime();
                if (currentTime.Minute == 0 || currentTime.Minute % 5 == 0 && currentTime.Second > 21)
                {
                    InvokeAsync(async () =>
                    {
                        await LoadData();
                    });
                }

            }, null, 0, 30000);
        }

        public async Task LoadData()
        {

            // Poslední záznam
            last_data = await dataDB.GetLastSensorData();
            table_data = new Quantities[] { last_data };

            // překlad
            translatedText_desc = TranslateTextWithNumber(table_data[0].Quantities326.aqi_val);

            StateHasChanged();
        }

        private bool _autoClose;

        string[] TranslateTextWithNumber(double inputnumber)
        {
            if (inputnumber <= 10) { return new string[] { "Dobrá", "good" }; }
            else if (inputnumber <= 20) { return new string[] { "Uspokojivá", "fair" }; }
            else if (inputnumber <= 25) { return new string[] { "Vyhovující", "moderate" }; }
            else if (inputnumber <= 50) { return new string[] { "Špatná", "poor" }; }
            else if (inputnumber <= 75) { return new string[] { "Velmi špatná", "very_poor" }; }
            else if (inputnumber <= 800) { return new string[] { "Extrémně špatná", "extremely_poor" }; }
            else { return new string[] { "Dobrá", "good" }; }
        }


    }

